#atom{
        
    width: 100%;
    height: 637px;
    background: #7f7f7f;
  
}
.zero{
    
    left:0px;
    top: 0px;
    height: 100%;
    width: 20%;
    float: left;
    margin-left: 3%;
    z-index: 1;  
}

.zerobottom{
    top: 80%;
    left: 0%;
    width: 100%;
    height: 6%;
    margin-top: 7%;
   
}
.zerobottomleft{
    top:0%;
    left:0%;
    height: 100%;
    width: 80%;
  
    float: left;

}
.zerobottomright{
    top:0%;
    left:0%;
    height: 100%;
    width: 20%;
  
    float: left;
}
.head{
    top: 0%;
    left: 0%;
    height: 6%;
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    color: white;
    background: black;
    opacity: 0.9;
  
}

 #top{
    position: absolute; 
    top: 0%;
    left: 0%;
    height: 10%;
    width: 100%;
    /* opacity: 0.8; */
    background:black;
    border-radius:6px;
}

.trunk{
    left: 0%;
    top: 2%;
    height: 70%;
    width: 100%;
    margin-top: 10%;
    background: rgb(255, 255, 255);
    overflow:auto;
    /* opacity: rgba; */
    
   /* div属性超出自动出现滚动条 */
}
.trunkleft{
    left: 0%;
    top: 0%;
    height: 100%;
    width: 80%;
    padding: 0%;
    margin-top: 0%;
    float: left;
}
.trunkright{
    left: 80%;
    top: 0%;
    height: 100%;
    width: 20%;
    padding: 0%;
    margin-top: 0%;
    float: left;
}
.bottom{
    left: 0%;
    top: 0%;
    height: 19%;
    line-height: 19%;
    width: 100%;
    text-align: center;
    margin:0 auto;
    /* background: black; */
}
.button{
    margin-top:12%;
    font-size: 1.2em;
}
.headtxt{
    font-size: 1.1em;
    padding: top 5px;;
    text-align: center;
    color: white;
    margin-left: 30px;
    height: 100%;
    width: 22%;
    float: left;   
}
.input{
    border-radius:6px 0px 0px 6px;   
}

p{
    padding-top: 3%;
  
}


td{
    text-align:center;
}
tr{
    background: rgb(242, 242, 242);
    height: 20px;
    font-size: 1.5em;
}
tr:hover
{
    color:white;
    background-color:black;
}

.color{
    background-color:black;
    /* font-size: 1.2em; */
    color: white;
}
.buttoncolor{
    background-color: rgb(242, 242, 242);
}

.addbutton{
   background: black; 
}



*{
    padding: 0;
    margin: 0;
    }
ul{
    width: 100%;
    background-color: rgb(255, 255, 255);
}
ul li{
    /* background: rgb(127, 127, 127); */
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 2%;
    background-color: rgb(242, 242, 242);
    font-size: 16px;
    color: black;
    /* border: 1px solid black; */
}
.ulzero{
    width: 100%;
    background-color: rgb(255, 255, 255);
    
}
.ulzero li{
    color: rgb(127, 131, 172);
}
.buttontwo{
   /* float: right; */
   background: red;
   color: white;
   text-align: center;
   height: 8%;
   width: 70%;
   border:none;
   margin-top: 10%;
   margin-bottom: 6%;
   margin-left: 14%;
   border-radius:6px;
   display: inline-block;
    text-decoration: none;
    cursor: pointer;
    
    
}


.buttona{
	disabled:true;
    background:slategray;
    color: slategray;
   text-align: center;
   height: 8%;
   width: 70%;
   border:none;
   margin-top: 10%;
   margin-bottom: 6%;
   margin-left: 14%;
   border-radius:6px;
   display: inline-block;
    text-decoration: none;
    cursor: pointer;  
}
.buttontwo:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    /* background-color: #4CAF50; 
    color: white; */
}
.addbutton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}